html,
body {
    height: 100%;

    overflow: hidden;
}

#canvas {
    border: solid 1px black;
}
#global {
    overflow: auto;
    text-align: center;
}
#gauche {
    float: left;
    width: 50%;
    display: inline-block;
}
#droit {
    overflow: auto;
    display: inline-block;
}
